-
  var career = [
    {
      "title": "Frontend developer",
      "duration": "16 Март 2022 - по сей день",
      "place": "Синергия",
      "text": "Основной проект - онлайн школа и связанные с школой проекты. Частично работал на synergykids.ru, пока команду не разделили на 2 проекта. Основной стек: typescript, vue (2 и 3), nuxt, graphql, scss, jest.",
      "icon": "./assets/school-synergy.webp",
    },
    {
      "title": "Middle frontend developer",
      "duration": "15 Март 2020 - 15 Март 2022",
      "place": "ИРПСУ",
      "text": "Основной проект - сайт доп. образования с более 10 ролями. Занимался разработкой новых модулей и перенос кабинетов с yii2 на vue(api). Ещё проекты: управление мероприятиями и конструктор сайтов для образовательных учреждений. Основной стек: vue, vuex, pug, scss, jest.",
      "icon": "./assets/pfdo.jpg",
    },
    {
      "title": "Junior frontend developer",
      "duration": "1 Февраль 2019 - 13 март 2020",
      "place": "Caspian agency",
      "text": "Работал над платформой, генерирующей сайты управлениям образования, учителям персональный сайт портфолио, школам, и детским садам. Основной стек vue, jquery(выпиливали), laravel(blade). Причина ухода: постоянные задержки з/п на несколько месяцев."
    },
    {
      "title": "Фриланс",
      "duration": "Февраль 2017 - Февраль 2019",
      "place": "Верстальщик",
      "text": "Верстал страницы, лендинги, мобильную версию сайта, виджет и тд в свободное время от основной работы."
    },
    {
      "title": "Системный администратор",
      "duration": "26 Февраль 2016 - 1 Февраль 2019",
      "place": "Гуманитарно-педагогический колледж",
      "text": "Обслуживал компьютеры, принтеры, камеры и тд. Делал баннеры, грамоты на Adobe Photoshop."
    },
    {
      "title": "Учеба в Институте",
      "duration": "Сентябрь 2012 - Июль 2016",
      "place": "Бизнес-информатика",
      "text": "Окончил Дагестанский Гуманитарный Институт, факультет \"Экономики и Информатики\"",
      "icon": "./assets/img/study.svg",
    }
  ]

.experience
  .section
    each item in career
      .experience__item
        img(
          src=item.icon || './assets/img/work.svg'
          alt=item.title
        )
        .experience__item_header
          h4= item.title
          h6= item.duration
        .experience__item_body
          h5= item.place
          p= item.text
