-
  var career = [
    {
      "title": "Учеба",
      "startYear": "2012",
      "duration": "2012 - 2016",
      "company": "Дагестанский Гуманитарный Институт",
      "text": "Окончил ДГИ, факультет \"Экономики и Информатики\" по направлении \"Бизнес-информатика\" на красный диплом.",
      "icon": "daggum.jpg",
    },
    {
      "title": "Системный администратор",
      "startYear": "2016",
      "duration": "24 Февраль 2016 - 31 январь 2019",
      "company": "Гуманитарно-педагогический колледж",
      "text": "Обслуживал компьютеры, принтеры, камеры и тд. Делал баннеры, грамоты на Adobe Photoshop.",
      "icon": "gpkdag.png",
    },
    {
      "title": "Верстальщик",
      "startYear": "2017",
      "duration": "2017 - 2019",
      "company": "Фриланс",
      "text": "Верстал страницы, лендинги, письма и тд в свободное время от основной работы.",
      "icon": "freelance.webp",
    },
    {
      "title": "Junior frontend developer",
      "startYear": "2019",
      "duration": "1  Февраль 2019 - 13 март 2020",
      "company": "Caspian agency",
      "text": "Работал над платформой, генерирующей сайты управлениям образования, учителям персональный сайт портфолио, школам, и детским садам. Основной стек vue, jquery(выпиливали), laravel(blade). Причина ухода: постоянные задержки з/п на несколько месяцев.",
      "icon": "caspian-agency.png",
    },
    {
      "title": "Middle frontend developer",
      "startYear": "2020",
      "duration": "16 Март 2020 - 15 Март 2022",
      "company": "ИРПСУ",
      "text": "Основной проект - сайт доп. образования с более 10 ролями. Занимался разработкой новых модулей и перенос кабинетов с yii2 на vue(api). Ещё проекты: управление мероприятиями и конструктор сайтов для образовательных учреждений. Основной стек: vue, vuex, pug, scss, jest.",
      "icon": "pfdo.jpg",
    },
    {
      "title": "Frontend developer",
      "startYear": "2022",
      "duration": "16 Март 2022 - по сей день",
      "company": "Синергия",
      "text": "Основной проект - онлайн школа и связанные с школой проекты. Частично работал на synergykids.ru, пока команду не разделили на 2 проекта. Основной стек: typescript, vue (2 и 3), nuxt, graphql, scss, jest.",
      "icon": "synergy-school.webp",
    },
  ]

section#experience.experience
  .container
    .experience__header
      h3.block__title
        | История моего
        br
        span опыта работы

      h5.block__description Места работы и учёбы

    .experience__items
      each item, index in career
        if index !== 0
          img.experience__item_divider(src="./images/experience/divider.svg" alt="divider")

        .experience__item
          span.experience__item_year= item.startYear
          .experience__item_line
          img.experience__item_logo(
            src='./images/experience/' + item.icon
            alt=item.title
          )

          .experience__item_full.company
            .company__content
              h6.company__title= item.title
              span.company__name= item.company
              span.company__duration= item.duration
              p.company__work= item.text
            img.company__logo(
              src='./images/experience/' + item.icon
              alt=item.title
            )

