-
  var career = [
    {
      "title": "Учеба",
      "startYear": "2012",
      "duration": "2012 - 2016",
      "company": "Дагестанский Гуманитарный Институт",
      "companyLink": "https://daggum.ru/",
      "text": "Окончил ДГИ, факультет \"Экономики и Информатики\" по направлению \"Бизнес-информатика\", на красный диплом.",
      "icon": "daggum.webp",
    },
    {
      "title": "Системный администратор",
      "startYear": "2016",
      "duration": "24 Февраль 2016 - 31 январь 2019",
      "company": "Гуманитарно-педагогический колледж",
      "companyLink": "https://daggum.ru/",
      "text": "Обслуживал компьютеры, камеры, принтеры, проводил интернет, помог работнику СМИ с заполнением контента сайта, создавал баннеры на фотошопе.",
      "icon": "gpkdag.webp",
    },
    {
      "title": "Верстальщик",
      "startYear": "2017",
      "duration": "2017 - 2019",
      "company": "Фриланс",
      "text": "Верстал страницы, лендинги, письма и тд., совмещал с офисной работой в колледже.",
      "icon": "freelance.webp",
    },
    {
      "title": "Junior frontend developer",
      "startYear": "2019",
      "duration": "1  Февраль 2019 - 13 март 2020",
      "company": "Caspian agency",
      "companyLink": "https://siteobr.ru/",
      "text": "Работал над платформой, генерирующей сайты управлениям образования, учителям персональный сайт портфолио, школам, и детским садам. Впоследствии сгенерировано более 1500 сайтов. Добавил версию для слабовидящих, по требованию ГОСТа.",
      "icon": "caspian-agency.webp",
    },
    {
      "title": "Middle frontend developer",
      "startYear": "2020",
      "duration": "16 Март 2020 - 15 Март 2022",
      "company": "ИРПСУ",
      "companyLink": "https://pfdo.ru/",
      "text": "Основной проект - обеспечивающей доступ к дополнительному образованию для более чем 1,5 миллиона детей в 85 регионах России. Создал дашборд с графиками и статистикой по субъектам РФ. Разрабатывал новый функционал для ЛК, для 10 разных ролей.",
      "icon": "pfdo.webp",
    },
    {
      "title": "Frontend developer",
      "startYear": "2022",
      "duration": "16 Март 2022 - по сей день",
      "company": "Синергия",
      "companyLink": "https://school.synergy.ru/",
      "text": "Основной проект - онлайн школа с более 1300 обучающимися. Разрабатывал электронный журнал с различным функционалом, электронный дневник. Смигрировал 2 проекта с Nuxt 2 на Nuxt 3. Внедрил юнит тестирование. Вынес дублирующие компоненты (+30 шт) в отдельный git модуль.",
      "icon": "synergy-school.webp",
    },
  ]

section#experience.experience
  .container
    .experience__header
      h3.block__title
        | История моего
        br
        span опыта работы

      h4.block__description Места работы и учёбы

    .experience__items
      each item, index in career
        if index !== 0
          img.experience__item_divider(src="./images/experience/divider.svg" alt="divider")

        .experience__item
          span.experience__item_year= item.startYear
          .experience__item_line
          img.experience__item_logo(
            src='./images/experience/' + item.icon
            alt=item.title
          )

          .experience__item_full.company
            .company__content
              h6.company__title= item.title
              if item.companyLink
                a.company__name(
                  href=item.companyLink
                  target="_blank"
                )= item.company
              else
                span.company__name= item.company

              span.company__duration= item.duration
              p.company__work= item.text
            img.company__logo(
              src='./images/experience/' + item.icon
              alt=item.title
            )

