- 
  var works = [
    {
      "title": "Allrebates",
      "text": "Адаптивная верстка + скрипты, многостраничный сайт.",
      "link": "./assets/works/allrebates/index.html",
      "img": "img/allrebates.jpg"
    },
    {
      "title": "Compas",
      "text": "Адаптивная верстка + скрипты, многостраничный сайт.",
      "link": "./assets/works/compas/index.html",
      "img": "img/compas.jpg"
    },
    {
      "title": "Игра на JavaScript",
      "text": "Игра на время кликнуть как можно больше элементов",
      "link": "./assets/works/game/index.html",
      "img": "img/game.jpg"
    },
    {
      "title": "Фильмы с tmdb",
      "text": "Вывод фильмов по API с tmdb на Vue.js",
      "link": "http://films.gkhabada.ru/",
      "img": "img/films.jpg"
    },
    {
      "title": "Фильтр квартир на JavaScript",
      "text": "Фильтр квартир по разных характеристикам на чисто js для интеграции в тильда",
      "link": "./assets/works/filter/index.html",
      "img": "img/filter.jpg"
    },
    {
      "title": "Тесты на JavaScript",
      "text": "Тесты с новостными вопросами на чистом js",
      "link": "./assets/works/tests/index.html",
      "img": "img/tests.jpg"
    },
    {
      "title": "Криптовалюта",
      "text": "Вывод ТОП 50 криптовалют по API на Vue.js, обновление цены по socketIO и сортировка по цене",
      "link": "http://crypto.gkhabada.ru/",
      "img": "img/crypto.jpg"
    },
    {
      "title": "Виджет",
      "text": "Продукт онлайн консультации",
      "link": "./assets/works/widget/index.html",
      "img": "img/widget.jpg"
    }
  ] 

.works 
  each work in works
    .work
      .work_hover
        h3.work__title= work.title
        p.work__text= work.text
        a.work__link(href=work.link target='_blank' rel='noopener') Открыть
      img(src='./assets/' + work.img alt=work.title title=work.title)

